<section class="news-detail-header-section text-center">
  <div class="section-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h1 class="text-white">News Detail</h1>
      </div>
    </div>
  </div>
</section>

<section class="news-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-12">
        <div class="news-block">
          <div class="news-block-info">
            <h4>Clothing donation to urban area</h4>
            <div class="news-block-body">
              <p><strong>Lorem Ipsum</strong> dolor sit amet, consectetur adipsicing kengan omeg kohm tokito.</p>
              <blockquote>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris.</blockquote>
            </div>
            <div class="social-share border-top mt-5 py-4 d-flex">
              <a href="#" class="social-icon-link bi-facebook"></a>
              <a href="#" class="social-icon-link bi-twitter"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
